@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Tank Mapper</title>
    <link href="@Url.Content("~/Content/TankMapper.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.1.js"></script>  
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBM4Zy-5otiLe-pzNrGBUNKuCfUFvRvdaA&sensor=false">
    </script>

    <script type="text/javascript">
        var map = null;
        var allTanks = @Html.Raw(ViewBag.tanks);
        var tanks = allTanks.slice();
        var markersArray = [];

        function initialize() {
            var myOptions = {
                center: new google.maps.LatLng(39.791655, -85.100098),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),
                myOptions);

            addTankMarkers();
        }

        function addTankMarkers() {
            for(var i = 0; i < tanks.length; i++){
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(parseFloat(tanks[i].Latitude), parseFloat(tanks[i].Longitude)),
                    map: map,
                    title:tanks[i].Organization
                });
                markersArray.push(marker);
            }
        }

        function filterBtnClick(){
            tanks = allTanks.slice();
            clearMarkers();
            filterBy('Organization');
            filterBy('TankInfo');
            filterBy('TankName');
            filterBy('TankAddress');
            filterBy('City');
            filterBy('State');
            filterBy('Zip');
            filterBy('TaskType');
            filterBy('TaskStatus');
            initialize();
        }

        function filter(field, value){
            for(var i = 0; i < tanks.length; i++){
                if(tanks[i][field].indexOf(value) == -1){
                    tanks.splice(i, 1);
                    i--;
                }
            }
        }

        function filterBy(field){
            var val = $('#' + field + '_input').val();
            if(!val || val == '') return;
            filter(field, val);
        }

        function clearMarkers(){  
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
            }
            markersArray = [];
        }

        $(function () {
            $('#filter_btn').click(function(){filterBtnClick();});
            $('.container').height($(window).height() - 16 + 'px');
            initialize();
        });

    </script>

</head>
<body>
    <div class="container">
        <div class="left">
        <h2>Filter By:</h2>
            <table>
                <tr><td>Organization:</td><td><input id="Organization_input" type="text" /></td></tr>
                <tr><td>Tank Info:</td><td><input id="TankInfo_input" type="text" /></td></tr>
                <tr><td>Tank Name:</td><td><input id="TankName_input" type="text" /></td></tr>
                <tr><td>Tank Address:</td><td><input id="TankAddress_input" type="text" /></td></tr>
                <tr><td>City:</td><td><input id="City_input" type="text" /></td></tr>
                <tr><td>State:</td><td><input id="State_input" type="text" /></td></tr>
                <tr><td>Zip:</td><td><input id="Zip_input" type="text" /></td></tr>
                <tr><td>Task Type:</td><td><input id="TaskType_input" type="text" /></td></tr>
                <tr><td>Task Status:</td><td><input id="TaskStatus_input" type="text" /></td></tr>
            </table>
            <button id="filter_btn">Filter</button>
        </div>
        <div class="right">
            <div id="map_canvas" style="width:100%; height:100%"></div>
        </div>
    </div>
</body>
</html>
